.grid {
  width: 100%;

  .row {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    // row-gap: 4px;
    column-gap: 10px;
    padding-bottom: 10px;

    .cell {
      justify-content: center;
      align-content: center;
      border: 2px solid #b7b7b7;
      gap: 4px 4px;
      font-weight: 400;
      font-size: 60px;
    }
    .incorrect {
      background-color: #ff6d60;
    }
    .correct {
      background-color: #98d8aa;
    }
    .misplaced {
      background-color: #f7d060;
    }
  }
  .c0 {
    display: none;
  }
}
